<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.parallel__test__executor.ParallelTestExecutor plugin="parallel-test-executor@1.1-SNAPSHOT">
      <parallelism class="org.jenkinsci.plugins.parallel_test_executor.CountDrivenParallelism">
        <size>3</size>
      </parallelism>
      <testJob></testJob>
      <patternFile>exclusion.txt</patternFile>
      <testReportFiles>**/target/surefire-reports/</testReportFiles>
    </org.jenkinsci.plugins.parallel__test__executor.ParallelTestExecutor>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>