<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@0.1-beta-3">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@0.1-beta-3">
    <!-- TODO echo trick pending a cleaner way to write script-supplied content to a workspace file -->
    <!-- TODO https://trello.com/c/7K5ekdL1/119-junitresultarchiver-should-aggregate-results workaround is to archive surefire-reports -->
    <script>node('master') {
  git url: 'https://github.com/jenkinsci/parallel-test-executor-plugin-sample'
  archive 'pom.xml, src/'
}
def splits = splitTests parallelism: new org.jenkinsci.plugins.parallel_test_executor.CountDrivenParallelism(5)
def branches = [:]
for (int i = 0; i &lt; splits.size(); i++) {
  def exclusions = splits.get(i);
  branches["split${i}"] = {
    node('standard') {
      sh 'rm -rf *'
      unarchive mapping: ['pom.xml' : '.', 'src/' : '.']
      sh "set +x; (for line in ${exclusions.join(' ')}; do echo \$line; done) > exclusions.txt"
      sh 'mvn -B clean test -Dmaven.test.failure.ignore'
      archive 'target/surefire-reports/'
    }
  }
}
parallel branches
node('master') {
  unarchive mapping: ['target/surefire-reports/' : '.']
  step($class: 'hudson.tasks.junit.JUnitResultArchiver', testResults: 'target/surefire-reports/*.xml')
}</script>
  </definition>
  <triggers/>
</flow-definition>
