<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@0.1-beta-3">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@0.1-beta-3">
    <script>node('master') {
  git url: 'https://github.com/jenkinsci/parallel-test-executor-plugin-sample'
  archive 'pom.xml, src/'
}
def splits = splitTests new org.jenkinsci.plugins.parallel_test_executor.CountDrivenParallelism(5)
def branches = [:]
for (int i = 0; i &lt; splits.size(); i++) {
  def exclusions = splits.get(i);
  branches["split${i}"] = {
    node('standard') {
      sh 'rm -rf *'
      unarchive mapping: ['pom.xml' : '.', 'src/' : '.']
      writeFile file: 'exclusions.txt', text: exclusions.join("\n")
      sh 'mvn -B clean test -Dmaven.test.failure.ignore'
      step $class: 'hudson.tasks.junit.JUnitResultArchiver', testResults: 'target/surefire-reports/*.xml'
    }
  }
}
parallel branches</script>
  </definition>
  <triggers/>
</flow-definition>
